@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

h1 {
  font-family: "Bricolage Grotesque", sans-serif;
}
.blg {
  font-family: "Bricolage Grotesque", sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
.decoStyles::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: transparent;
  transform: translate(-90%, 0);
  width: 40px;
  aspect-ratio: 1;
  border-bottom-right-radius: 100%;
  box-shadow: 4px 15px 0 white;
}
.decoStyles::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: transparent;
  transform: translate(90%, 0);
  width: 40px;
  aspect-ratio: 1;
  border-bottom-left-radius: 100%;
  box-shadow: -4px 15px 0 white;
}
