@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

h1 {
  font-family: "Bricolage Grotesque", sans-serif;
}
.blg {
  font-family: "Bricolage Grotesque", sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
.decoStyles::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: transparent;
  transform: translate(-92%, 0);
  width: 150px;
  height: 60px;
  rotate: 2deg;
  border-bottom-right-radius: 100%;
  box-shadow: 24px 15px 0 white;
}
.decoStyles::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: transparent;
  transform: translate(92%, 0);
  rotate: -2deg;
  width: 150px;
  height: 60px;
  border-bottom-left-radius: 100%;
  box-shadow: -24px 15px 0 white;
}

@media screen and (max-width: 400px) {
  .decoStyles::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: transparent;
    transform: translate(-95%, -5px);
    width: 90px;
    height: 40px;
    rotate: 2deg;
    border-bottom-right-radius: 100%;
    box-shadow: 20px 10px 0 white;
  }
  .decoStyles::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background: transparent;
    transform: translate(95%, -5px);
    width: 86px;
    height: 40px;
    rotate: -1deg;
    border-bottom-left-radius: 100%;
    box-shadow: -20px 10px 0 white;
  }
}

.bg_filter {
  background-color: lightblue;
  backdrop-filter: blur(55px);
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body::-webkit-scrollbar-thumb {
  background: transparent;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
body {
  scrollbar-width: none;
  overflow-x: hidden;
}
